{% extends "base.html" %}

{% block content %}
  <div class='page-header'>
    <h1 style="text-align:center;">Valid Certificates</h1>
  </div>
  <div>
  <table class='table-hover table table-bordered' style="margin:50px; width:90%" align='center' id='CertTable'>
    <thead>
      <tr>
        <th>Host</th>
        <th>Issuer</th>
        <th>Fingerprint</th>
        <th>Valid Until</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          {% for i in [0, 1, 2, 3] %}
            <td>{{ record[i] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  

{% endblock %}
